extends layout

block content
  h1= title

  u1
    if (moodList.length === 0)
      | User not found
    each mood, i in moodList
        p <b>#{mood.timestamp.getMonth()}/#{mood.timestamp.getDate()}/#{mood.timestamp.getYear()}</b>: #{mood.rating}
