extends layout

block content

  h1= title
  if (moodList.length === 0)
      | User not found
  h2 Hey #{moodList[0].username}! 
  p Here's how work has been
  <br>
  u1
    if (moodList.length === 0)
      | User not found


    h3 Past Three Weeks
    canvas(id='weekchart' width='1000' height='400')
    <br>
    h3 Overall
    canvas(id='mychart' width='1000' height='400')
    
      
    each mood, i in moodList
      p <b>#{mood.timestamp.getMonth()}/#{mood.timestamp.getDate()}/#{mood.timestamp.getFullYear()}</b>: #{mood.rating}


  script(src='/js/Chart.min.js')
  script.

    var local_moodList =!{JSON.stringify(moodList)};
    var ratings = [];
    var dates = [];
    var days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
    var weeks = new Array(52);

    for(var i = 0; i < local_moodList.length; i++) {
      ratings[i] = local_moodList[i].rating;
      dates[i] = local_moodList[i].month + "/" + local_moodList[i].day + "/" + local_moodList[i].year;
      if(weeks[local_moodList[i].week] == null) {
        weeks[local_moodList[i].week] = new Array(7);
        thisweek = local_moodList[i].week;
      }
      
      weeks[local_moodList[i].week][local_moodList[i].dayOfWeek-1] = local_moodList[i].rating;

    }
    
    var allData = {
      labels : dates,
      datasets : [
        {
          fillColor : "rgba(172,194,132,0.4)",
          strokeColor : "#ACC26D",
          pointColor : "#fff",
          pointStrokeColor : "#9DB86D",
          data : ratings
        }
      ]
    }

    var weekDataset = [];
    var counter = 0;

    for(var i = thisweek; i > thisweek-3; i--) {
      if(weeks[i] != null) {
        weekDataset[counter] = {
          fillColor : "rgba(" + Math.floor(255*Math.random()) + "," + Math.floor(255*Math.random()) + "," + Math.floor(255*Math.random()) + ",0.5)",
          strokeColor : "#ACC26D",
          pointColor : "#fff",
          pointStrokeColor : "#9DB86D",
          data : weeks[i]
        }
        counter++;
      }
    }

    var weekData = {
      labels : days,
      datasets : weekDataset
    }

    // create array of arrays per week


    var mychart = document.getElementById('mychart').getContext('2d');
    new Chart(mychart).Line(allData, {scaleOverride : true, scaleSteps : 6, scaleStepWidth : 1, scaleStartValue : 0});
    var weekchart = document.getElementById('weekchart').getContext('2d');
    new Chart(weekchart).Line(weekData, {scaleOverride : true, scaleSteps : 6, scaleStepWidth : 1, scaleStartValue : 0});
